/* Common styles for all links */
a {
    font-size: 35px;
    text-decoration: none;
    padding: 12px 25px;
    text-align: center;
    display: inline-block;
}

/* Unvisited links */
a:link {
    color: rgb(57, 31, 206);
    /* background-color: hotpink; */
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Additional styling for unvisited links with a specific class (link_1) */
a.link_1:link {
    color: red;
    /* Add any additional styles for the link with the class link_1 */
}

a:visited {
    color: rgb(57, 31, 206);
    background-color: hotpink;
    color: white;
}

/* Visited links */
a:visited {
    color: green;
}

/* Hovered links */
a:hover {
    color: chartreuse;
    background-color: red;
}

/* Active links */
a:active {
    color: darkmagenta;
    background-color: forestgreen;
}

/* Specific styling for links with class link_1 */
a.link_1 {
    color: red;
}

/* Additional styling for links with class link_1 on hover */
a.link_1:hover {
    color: orange;
}
