h1{
    font-size: 50px;
    color: Red;
    text-align: center;
    padding: 10%;
    margin-right: 50%;
}


p{
    font-size: 35px;
    background-color: aquamarine;
    padding-left: 10%;
}

@media (min-height:500px){   /*max-height, max-width, min-width */
    h1{
        color: blue;
    }
    
}

@media (orientation: landscape){
    .landscape{
        background-color: burlywood;
    }
}

@media (orientation: landscape) and (min-width:100px){
    .landscape{
        background-color: burlywood;
    }
}

